<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/nexaas/?hl=pt-br"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/nexaas/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/nexaasoficial"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/nexaas"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> by Mats Felix
  </div>
</div>
