<div class="home-style text-center" id="banner">

  <h1>Bem-vindo a <img style="vertical-align:text-top" src="/assets/logo-nexaas-azul.png" id="nexaas-img"> </h1>
  <h2>Conectando sua empresa ao futuro.</h2>
</div>
