.footer {
  background: linear-gradient(135deg, #006C86 0%, #009db6 25%, #00cee7 50%, #00d3dc 75%, #00ddbe 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #1C567D;
  transition: 0.2s;
}
.footer .fa-heart {
  color: #D23333;
}
